body {
  margin-top: 10px;
}

.album{
  margin-bottom: 10px;
}

ol.tracks {
  display:none;
  border: 1px solid #ccc;
}

.bold {
  font-weight: bold;
}

.links {
  padding-left: 70px;
}

.links a{
  padding-right: 5px;
}

.categories {
  font-style: italic;
  font-size: 0.9em;
}

img.cover {
  float: left;
  padding-right: 5px;
  width: 131px;
  height: 131px;
}
